<div class="container" style="width: 500px; border: 2px solid #dcdcdc; border-radius: 10px; padding: 20px 80px; margin-top: 60px">
<h1 class="text-center"><%= @user.name %>さんの設定</h1>
<%= form_with(model: user, url: profiles_path(user)) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><% pluralize(user.errors.count, "error") %>間違いあるよ</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name, "名前", class: 'form-label' %>
    <%= form.text_field :name, size: "50", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :email, "メールアドレス", class: 'form-label' %>
    <%= form.text_area :email, size: "50x2", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :description, "自己紹介", class: 'form-label' %>
    <%= form.text_area :description, size: "50x5", class: 'form-control' %>
  </div>
  <div class="actions mt-4" style="text-align: center;">
    <%= form.file_field :avatar %>
  </div>
  <div class="actions mt-4" style="text-align: center;">
    <%= form.submit "変更", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
