<div class="sideline">
<%= render "navber" %>

<div class="container">

  <h2>自己紹介:　<%= current_user.description %></h2>
  <%= image_tag current_user.avatar.variant(:thumb) %>
  <h2 class="mt-5">フォロー数<%= current_user.followings.count %></h2>
  <h2 class="mt-5">フォロワー数<%= current_user.followers.count %></h2>
  <h4 class="mt-5"><%= link_to "設定", edit_profiles_path %></h4>
  <h4 class="mt-5"><%= link_to "戻る", tweets_path %></h4>
</div>
</div>