<h1><%= @user.name %>さんのプロフィール</h1>


<p>フォロー数<%= @user.follow_count %></p>
  
<p>フォロワー数<%= @user.follower_count %></p>

<p>自己紹介<%= @user.description %></p>

<%= link_to "設定", edit_profile_path %>

<%= link_to "戻る", user_path %>

