<div class="container" style="width: 500px; border: 2px solid #dcdcdc; border-radius: 10px; padding: 20px 80px; margin-top: 60px">
<h1><%= @tweet.content %>　に返信</h1>
<%= form_with model: [@tweet, @comment] do |form| %>
  <% if @comment.errors.any? %>
    <div style="color: red">
      <h2><% pluralize(@comment.errors.count, "error") %>間違いあるよ</h2>

        <ul>
          <% @comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content, "返信", class: 'form-label' %>
    <%= form.text_area :content, size: "50x5", class: 'form-control' %>
  </div>

  <div class="actions mt-4" style="text-align: center;">
    <%= form.submit "投稿", class: 'btn btn-primary' %>
  <div>

<% end %>
</div>
  