<div class="sideline">
<%= render "shared/navber" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 px-0" style="height: 100vh">
      <%= render "shared/sidever" %>
    </div>
    <div class="col-sm-10 px-0">
      <div class="card">
        <div class="card-header">        
          <div class="name">
            <h4> <%= link_to "#{@tweet.user.name}", profile_path(@tweet.user.id) %></h4>
          </div>
          <% unless @tweet.user == current_user %>
            <% if current_user.following?(@tweet.user) %>
              <%= button_to "フォロー外す", user_relationships_path(@tweet.user.id), method: :delete, class: "followed" %>
            <% else %>
              <%= button_to "フォローする", user_relationships_path(@tweet.user.id), method: :post, class: "follow" %>
            <% end %>
          <% end %>
        </div>
        <div class="card-body">
          <h4><%= @tweet.content %></h4>
        </div>
        <div class="card-footer text-muted">
          <h4><%= l @tweet.created_at, format: :long %>
          <span class="space">
            <%= @tweet.favorites.size %>
          </span>いいね</h4>
        </div>
      </div>
      <div class="d-flex mt-4 justify-content-center">
        <h3 class="mt-2 mx-5"><%= link_to new_tweet_comment_path(@tweet) do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width: 30px; height: 30px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
          </svg>
          <span>返信</span>
        </h3>
        <% end %>
        <div class="mx-3">
          <% unless @tweet.user == current_user %>
          <% if @tweet.favorited?(current_user) %>
            <%= button_to tweet_favorite_path(@tweet.id), method: :delete do %>
              <span style="color: red;"><h3>&hearts;いいね</h3></span>
            <% end %>
          <% else %>
            <%= button_to tweet_favorites_path(@tweet.id), method: :post do %>
              <div style="color: silver;"><h3>&hearts;いいね</h3></div>
            <% end %>
          <% end %>
        <% end %>
        </div>
      </div>
      <br>
      <div>
      <% @comments.each do |comments| %>
        <div class="card">
          <div class="card-header">
            <div class="name">
              <%= link_to "#{comments.user.name}", profile_path(comments.user.id) %>
            </div>
            <% unless comments.user == current_user %>
              <% if current_user.following?(comments.user) %>
                <%= button_to "フォロー外す", user_relationships_path(comments.user.id), method: :delete, class: "followed" %>
              <% else %>
                <%= button_to "フォローする", user_relationships_path(comments.user.id), method: :post, class: "follow" %>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <%= comments.content %>
          </div>
          <div class="card-footer text-muted">
            <%= l comments.created_at, format: :long %>
          </div>
        </div>
      <% end %>
      <div class="mt-2">
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</div>
</div>
