<div class="sideline">
<%= render "shared/navber" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 px-0" style="height: 100vh">
      <div class="sidebar_fixed ex1">
        <h1><%= current_user.name %></h1>
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to tweets_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width: 20px; height: 20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
          <span>ホーム</span>
        <% end %></li>
        <li class="list-group-item"><%= link_to profiles_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width: 20px; height: 20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
          <span>プロフィール</span>
        <% end %></li>
        <li class="list-group-item"><%= link_to new_tweet_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style="width: 20px; height: 20px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
          </svg>
          <span>ツイート</span>
        <% end %></li>
        <li class="list-group-item"><%= button_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10 px-0">
      <% @tweets.each do |tweets| %>
        <div class="card">
          <div class="card-header">
            <div class="name">
              <%= tweets.user.name %>
            </div>
            <% if current_user.following?(tweets.user) %>
              <%= button_to "フォロー外す", user_relationships_path(tweets.user.id), method: :delete, class: "follow" %>
            <% else %>
              <%= button_to "フォローする", user_relationships_path(tweets.user.id), method: :post, class: "follow" %>
            <% end %>
          </div>
          <div class="card-body">
            <%= link_to "#{tweets.content}", tweet_path(tweets.id) %>
          </div>
          <div class="card-footer text-muted">
            <%= l tweets.created_at, format: :long %>            
          </div>
        </div>
      <% end %>
      <div class="mt-2">
        <%= paginate @tweets %>
      </div>
    </div>
  </div>
</div>
</div>
