<%= render "navber" %>
<br>
<div class="container">
<h2><%= @user.name %></h2>

<%= link_to "プロフィール", profiles_path %>

<%= link_to "ツイート", new_tweet_path %>


<%= button_to "ログアウト", destroy_user_session_path, method: :delete %>

<p>自分のツイート</p>

<% @user.tweets.each do |tweet| %>
  <ul>
    <li><%= link_to "#{tweet.content}", tweet_path(tweet) %></li>
  </ul>
<% end %>

<br>

<p>みんなの反応</p>
<table class="table">
<tbody>
    <% @tweets.each do |tweets| %>
      <tr><th><%= tweets.user.name %><br>
        <%= link_to "#{tweets.content}", tweet_path(tweets.id) %><br>
        <%= l tweets.created_at, format: :long %><br></th></tr>
  <% end %>
</tbody>
</table>

<%= paginate @tweets %>


