<%= render "navber" %>
<br>
<div class="container">
<h2><%= @user.name %></h2>

<%= link_to "プロフィール", profile_path %>

<%= link_to "ツイート", new_tweet_path %>


<%= button_to "ログアウト", destroy_user_session_path, method: :delete %>

<p>自分のツイート</p>

<% @user.tweets.each do |tweet| %>
  <ul>
    <li><%= link_to "#{tweet.content}", tweet_path(tweet) %></li>
  </ul>
<% end %>

<br>

<p>みんなの反応</p>
<table class="table">
<tbody>
  <% @users.each do |user| %>
    <% user.tweets.each do |tweetes| %>
      <tr><th><%= user.name %><br>
        <%= link_to "#{tweetes.content}", tweet_path(tweetes.id) %><br>
        <%= tweetes.created_at.strftime('%Y/%m/%d %H:%M') %><br></th></tr>
  <% end %>
<% end %>
</tbody>
</table>
</div>


